/* --- Global Reset & Base --- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

button, input, select, textarea {
  font-family: inherit;
}

.ibm-plex-sans {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 4rem);
  font-weight: 400;
  margin: 5px;
  border-bottom: solid 6px #eeefe9;
  text-align: center;
}

body {
  margin: 0;
  background-image: url("https://res.cloudinary.com/dmukukwp6/image/upload/keyboard_garden_bg_dark_9ab088797a.png");
  background-size: 100px 100px;
  background-repeat: repeat;
  background-color: #eeefe994;
  background-blend-mode: lighten;
  font-weight: 400;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}